src/main/xsd/contact.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="contact" type="contactType"/>
    <xs:complexType name="phoneType">
        <xs:sequence>
            <xs:element type="xs:long" name="phonenumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="phonelistType">
        <xs:sequence>
            <xs:element type="phoneType" name="phone" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addressType">
        <xs:sequence>
            <xs:element type="xs:string" name="line1"/>
            <xs:element type="xs:string" name="city"/>
            <xs:element type="xs:string" name="state"/>
            <xs:element type="xs:int" name="zipcode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addresslistType">
        <xs:sequence>
            <xs:element type="addressType" name="address" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="errorTypeList">
        <xs:sequence>
            <xs:element type="addressType" name="address" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="contactType">
        <xs:sequence>
            <xs:element type="xs:int" name="contactid"/>
            <xs:element type="xs:string" name="firstname"/>
            <xs:element type="xs:string" name="lastname"/>
            <xs:element type="xs:int" name="age"/>
            <xs:element type="phonelistType" name="phonelist"/>
            <xs:element type="addresslistType" name="addresslist"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>